.DS_Store
.idea
.vscode
*.log
tmp/

*.tern-port
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache
coverage

.yarn/*
.yarn/cache
packages/components/.yarn/install-state.gz
packages/components/.yarn/cache
packages/tokens/dist/

!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
component-apps-and-owners-*.csv
