# Bump version and release specified package to NPM

name: 'Publish Package'

on:
  workflow_dispatch:
    inputs:
      package:
        description: Package
        required: true
        type: choice
        options:
          - components
          - tokens
          - assets
          - linting
      version_type:
        description: Version type
        required: true
        type: choice
        options:
          - alpha
          - beta
          - patch
          - minor
          - major

permissions:
  contents: write # Read repository contents and write commits/tags
  id-token: write # Generate OIDC tokens for npm trusted publishing

jobs:
  publish-package:
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_KEY }}
    steps:
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.VADS_APP_ID }}
          private-key: ${{ secrets.VADS_APP_PRIVATE_KEY }}
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.generate-token.outputs.token }}
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          registry-url: https://registry.npmjs.org/
          node-version-file: .nvmrc
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: Set git config
        run: |
          git config --global user.name 'VA Design System Bot'
          git config --global user.email 'platform-design-system@OCTO.VA.slack'
      - name: Install dependencies
        run: yarn install
      - name: Get package name
        id: package-name
        working-directory: packages/${{ inputs.package }}
        run: |
          NPM_PACKAGE=$(jq -r .name package.json)
          echo "NPM Package name: $NPM_PACKAGE"
          echo "NPM_PACKAGE_NAME=$NPM_PACKAGE" >> "$GITHUB_OUTPUT"
      - name: Increment version
        working-directory: packages/${{ inputs.package }}
        run: |
          BUMP=${{ inputs.version_type }}
          NPM_PACKAGE=${{ steps.package-name.outputs.NPM_PACKAGE_NAME }}

          echo "Checking package.json version..."
          CURRENT_VERSION=$(jq -r .version package.json)

          echo "Checking latest version on NPM..."

          LATEST_VERSION=$(npm view $NPM_PACKAGE versions --json | \
            jq -r 'if type=="string" then . elif type=="array" then .[-1] else "error" end')

          if [[ "$LATEST_VERSION" == "error" ]]; then
            echo "Unexpected result getting version. Exiting..."
            exit 1
          fi

          echo "Latest NPM version: $LATEST_VERSION"

          if [[ "$CURRENT_VERSION" != "$LATEST_VERSION" ]]; then
            echo "Setting package.json version to $LATEST_VERSION"
            npm version $LATEST_VERSION
          fi

          echo "Bumping $BUMP version..."
          if [[ "$BUMP" == "alpha" ]] || [[ "$BUMP" == "beta" ]]; then
            npm version prerelease --preid $BUMP
          else
            npm version $BUMP
          fi
      - name: Publish ${{ inputs.package }} package
        id: publish
        working-directory: packages/${{ inputs.package }}
        run: |
          BUMP="${{ inputs.version_type }}"

          echo "Publishing to NPM..."

          if [[ "$BUMP" == "alpha" ]] || [[ "$BUMP" == "beta" ]]; then
            npm publish --access public --tag $BUMP
          else
            npm publish --access public
          fi

          NEW_VERSION=$(jq -r .version package.json)
          echo "Published version: $NEW_VERSION"

          echo "NEW_VERSION=$NEW_VERSION" >> "$GITHUB_OUTPUT"
          echo "GIT_TAG=${{ inputs.package }}-v$NEW_VERSION" >> "$GITHUB_OUTPUT"
      - name: Commit changes to git
        working-directory: packages/${{ inputs.package }}
        run: |
          # Set GitHub App token for git actions authentication
          git remote set-url origin https://x-access-token:${{ steps.generate-token.outputs.token }}@github.com/${{ github.repository }}.git
          git pull
          git add package.json
          git commit -m 'Version bump: ${{ steps.publish.outputs.GIT_TAG }}'
          git push
      - name: Create git tag
        working-directory: packages/${{ inputs.package }}
        run: |
          # Set GitHub App token for git actions authentication
          git remote set-url origin https://x-access-token:${{ steps.generate-token.outputs.token }}@github.com/${{ github.repository }}.git
          TAG=${{ steps.publish.outputs.GIT_TAG }}
          echo $TAG
          git tag -a $TAG -m $TAG
          git push origin $TAG
      - name: Generate changelog
        if: ${{ inputs.version_type != 'alpha' && inputs.version_type != 'beta' && github.ref_name == 'main' }}
        run: |
          # Set GitHub App token for git actions authentication
          git remote set-url origin https://x-access-token:${{ steps.generate-token.outputs.token }}@github.com/${{ github.repository }}.git
          chmod +x .github/scripts/generate-changelog.sh
          cd documentation
          ./../.github/scripts/generate-changelog.sh ${{ inputs.package }} ${{ steps.generate-token.outputs.token }}
          git add CHANGELOG.md
          git commit -m 'Changelog for ${{ steps.publish.outputs.GIT_TAG }}'
          git push
